<!-- Hero Section -->
<section id="hero" class="pt-20 w-full min-h-svh bg-zinc-950 bg-no-repeat bg-top bg-cover md:bg-[url('https://images.unsplash.com/photo-1590540180006-36971c22e35c?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')]">
  <div class="max-w-[85rem] w-full h-full mx-auto my-auto">
    <div class="flex w-full my-12">
      <div class="md:size-16">
      </div>
      <!-- appointment form -->
      <div class="min-w-96 min-h-96 bg-red-500 rounded-md mx-auto md:mx-0 border border-red-50">
      </div>
    </div>
    <div class=" flex flex-col-reverse md:flex-row justify-between px-4">
      <p class="text-white text-sm w-full md:w-2/5">
        Our mission is to provide exceptional grooming services in a relaxed and friendly environment. Whether you're here for a classic haircut, a modern fade, or a clean shave, our skilled barbers are dedicated to ensuring you leave looking and feeling your best.
      </p>
      <h1 class="font-bebas text-3xl md:text-5xl lg:text-7xl text-white text-start md:text-end w-full md:w-2/5">
        Where tradition meets modern style
      </h1>
    </div>
  </div>
</section>
<section class="bg-slate-700 w-full border-t-2 border-white">
  <div class="max-w-[85rem] w-full h-full mx-auto py-8">
  <div class="grid grid-cols-3 gap-3 w-full justify-center items-center">
    <!-- Title and info -->
    <div class="flex-col border border-red-500">
      <h2>
        Service beyond expectation
      </h2>
      <p class="">
        Our barbershop is the territory created purely for men who appreciate premium quality, time and a flawless look. We'll help you to look stylish and confident in the most descreet way.
      </p>
      <button type="button" class="py-3 px-5 inline-flex items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-slate-800 shadow-sm hover:bg-slate-800 hover:text-sky-300 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
        Contact us
      </button>
    </div>
    <div class="mx-auto border border-red-500">
      <!-- Map Image -->
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_-tY5XpTw62iJuT97Ho-OisdZXbjwTovhuA&s">
    </div>
    <!-- Location -->
    <div class="border border-red-500">
      <!-- loc 1 -->
      <div>
        <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
        </svg>
      </div>
      <!-- loc 2 -->
      <div>
        <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
        </svg>
      </div>
    </div>
  </div>
  </div>
</section>
